spring:
  datasource:
    username: team_oa
    password: 5FC8PcGitWnE5GkA
    #?serverTimezone=UTC解决时区的报错,我改了host所以是DB01，可以直接换成ip
    url: jdbc:mysql://DB01/team_oa?serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

    #Spring Boot 默认是不注入这些属性值的，需要自己绑定
    #druid 数据源专有配置
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true

    #配置监控统计拦截的filters，stat:监控统计、slf4j：日志记录、wall：防御sql注入
    #使用logback替换log4j
    filters: stat,wall,slf4j
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
  # 本地启动使加上false，用来过滤停掉操作日志
  aop:
    auto: true
  # 邮件配置
  mail:
    # 邮箱账号如xxx@gmail.com
    username:
    # 邮箱授权码或密码
    password:
    # 邮箱host配置与username保持一致
    host: smtp.163.com
    properties:
      mail:
        smtp:
          # QQ邮箱需要开启该配置
          ssl:
            enable: true
  # Redis配置
  redis:
    # 数据库
    database: 1
    # 服务器地址
    host: 127.0.0.1
    # 默认端口为6379
    port: 6379
    # 如果有密码则配置密码auth 没有则不用配置
    password: xxx

#整合mybatis，如果mapper和xml不在同一目录，还需要配置关系mybatis.mapper-locations=classpath:mybatis/mapper/*.xml
mybatis:
  type-aliases-package: top.jsls9.top.oajsfx.model
  mapper-locations: classpath:mybatis/mapper/*.xml
  configuration:
    local-cache-scope: session #默认为session模式，会影响使用乐观锁重试时查询version，所以改成statement，每次查询结束都会清除一级缓存
#配置别名

logging:
  level:
    top.jsls9.oajsfx: debug
    root: error
  file:
    path: logs
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"
  charset:
    console: UTF-8

server:
  servlet:
    context-path: /api
  port: 8081


### xxl-job-executor配置
xxl:
  job:
    admin:
      addresses: https://xxl.jsls9.top/xxl-job-admin
    accessToken: su123456789
    executor:
      appname: xxl-job-executor-main
      #内网这里要配置http地址，代理的是9999端口
      address:
      ip:
      port: 9999
      logpath: logs/xxl-job/jobhandler
      logretentiondays: 30

### 自定义配置信息
hlx:
  url:
    #签到
    signIn: https://floor.huluxia.com/user/signin/IOS/1.1
    #用户个人信息
    userInfo: https://floor.huluxia.com/user/info/IOS/1.1
    #板块数据，包含三个维度的帖子列表
    #hlxCategoryData: https://floor.huluxia.com/home/post/list/IOS/1.1
    hlxCategoryData: https://floor.huluxia.com/post/list/ANDROID/4.1.8?market_id=floor_huluxia
  # 版块限制，如结算贴所在版块、查询发帖情况
  categoryId: 63
  # 密钥相关配置
  key:
    # 账号密码 or QQ 登录获取 key，已弃用
    url: https://
    # 直接填写 KEY 值
    text: xxx

qq:
  url: http://send.frp.jsls9.top
  verifyKey: su123456
  number: 3078449526
  report:
    group: 279335049

onebot:
  global-prefix: "" # Global prefix for command handling (e.g., "/", "#")
  secret: "5%.i]ZE+Q>4<4A+X" # Secret for HMAC SHA1 signature verification. Leave empty to disable.
